In [13]:
import  os, getpass
import pandas as pd
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain_openai import OpenAI, ChatOpenAI

In [3]:
if not os.environ.get("OPENAI_API_KEY"):
    os.environ["OPENAI_API_KEY"] = getpass.getpass("Enter API key for OpenAI: ")

In [21]:
df = pd.read_excel('../resources/Out_9.xlsx')
df

,Unnamed: 0,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...,...
1699,1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [27]:
v = df[df['country'] == 'Canada']['lifeExp'].mean()
v

np.float64(74.90275)

In [28]:
agent = create_pandas_dataframe_agent(ChatOpenAI(temperature=0.7, model='gpt-4o-mini'), df, verbose=True, allow_dangerous_code=True)

In [30]:
agent.invoke("Based on the data, give me the average life expectancy and min/max gdp  of Canada.")

> Entering new AgentExecutor chain...
Thought: To find the average life expectancy and the minimum and maximum GDP per capita for Canada, I need to filter the dataframe for entries related to Canada and then calculate the required statistics. I'll first filter the dataframe for Canada and then compute the average life expectancy and the minimum and maximum GDP per capita.

Action: python_repl_ast
Action Input: df_canada = df[df['country'] == 'Canada']; avg_life_exp = df_canada['lifeExp'].mean(); min_gdp = df_canada['gdpPercap'].min(); max_gdp = df_canada['gdpPercap'].max(); (avg_life_exp, min_gdp, max_gdp)(np.float64(74.90275), np.float64(11367.16112), np.float64(36319.23501))I now know the final answer
Final Answer: The average life expectancy of Canada is approximately 74.90 years, the minimum GDP per capita is approximately 11,367.16, and the maximum GDP per capita is approximately 36,319.24.

> Finished chain.

{'input': 'Based on the data, give me the average life expectancy and min/max gdp  of Canada.',
 'output': 'The average life expectancy of Canada is approximately 74.90 years, the minimum GDP per capita is approximately 11,367.16, and the maximum GDP per capita is approximately 36,319.24.'}